

<footer class=" footer">

    <!-- Right -->
    <div id="footerBtns">
        <a href="" class="me-5 link-secondary">
          <!-- <i class="fab fa-facebook-f"></i> -->
          <i class="fa-solid fa-house"></i>
        </a>
        <a href="" class="me-5 link-secondary">
          <!-- <i class="fab fa-twitter"></i> -->
          <i class="fa-solid fa-seedling"></i>
        </a>
        <a href="" class=" link-secondary">
          <!-- <i class="fab fa-google"></i> -->
          <i class="fa-solid fa-list"></i>
        </a>
        <!-- <a href="" class="me-5 link-secondary">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-5 link-secondary">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-5 link-secondary">
          <i class="fab fa-github"></i>
        </a> -->
      </div>
      <!-- Right -->
    <!-- Copyright -->
    <!-- <div class="text-center p-3" >
      © 2023 Copyright:
      <a class="text-dark" target="_blank" href="https://bearit.fi/">Garden App</a>
    </div> -->
    <!-- Copyright -->
  </footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>