<div id="navContainer">
  <h1><strong>Garden App</strong></h1>

<ul id="navLinks">
  <li><a href="./">Home</a> </li>
  <li><a href="../plant-details"> Details</a></li>
  <li><a href="../plants-list">List</a> </li>
  <!-- <li><a href="./404">404</a> </li> -->
</ul>
</div>