<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navTempo.ejs') %>
    <h1>Oops <strong>404, Resources not found</strong></h1>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
