<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>
<body>

    <h1>Welcome to <strong>plants-list</strong></h1>

    <%- include('./partials/navTempo.ejs') %>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>