<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navTempo.ejs') %>

    <h1>Welcome to <strong>plant-details</strong></h1>

    <%- include('./partials/footer.ejs') %>
</body>
</html>