body {
  background-color: rgb(135, 255, 197);
}

.footer {
  background-color: rgb(107, 230, 170);
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

#footerBtns a {
  height: 7vh;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}
#navLinks {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
}
#navLinks li {
  list-style-type: none;
}
#navLinks li a{
    color: rgb(31, 88, 46);
    font-size: 1.5rem;
    margin: .5rem;
    text-decoration: none !important;
}
#navContainer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;

}
